.mainBody1 {
    
    width: 100%; /* Ensures it spans the full width of its container */
    
   
    font-family: "Sour Gummy", serif;
    font-size:15px;
    padding:20px;
}
 .pField
 {
    padding:10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 2%;
 }
 .skater {
    border-radius:10%;
    width:100px;
    margin: 10px;
 }
 .headerTopGap{
    margin-top:15px;
 }
 .custom-list {
    list-style-type: disc; /* Ensures bullet points are displayed */
    margin-left: 20px; /* Adjusts left margin */
}

 
