@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bungee+Tint&family=New+Amsterdam&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.mainBody {
    height: 450px;
    width: 100%; /* Ensures it spans the full width of its container */
    background-color: #D7D3BF; /* Optional: Adds a background color for visibility */
    border: 1px solid black; /* Optional: Adds a border for clarity */
    
}
.content{
    margin-top:80px;
    align-items: center;
    font-family: "Sour Gummy", serif;
    font-size:20px;

}

.bodyH1
{
    font-family: "Sour Gummy", serif;
    font-size:40px;
}
.customBtn{
    margin-left: 20px;
    margin-top:10px;
    border-radius: 20%;
   
}
.image{
    width:200px;

}