@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bungee+Tint&family=New+Amsterdam&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@import './components/navbar.css';
@import './components/body.css';
@import './components/about.css';
:root {
  --background: #ffffff;
  --foreground: #171717;
}
.custom{
  background-color:#ECEBDE;
  font-family: "Sour Gummy", serif;
  font-weight: 400; /* Normal weight, or adjust between 100 and 900 */
 font-size: 20px; /* This sets the font size */
  font-style: normal;
}

.color
 {
    padding:10px;
    margin-bottom: 5px;
    border: 1px solid black;
    border-radius: 2%;
    background-color: #D7D3BF;
 }
@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8FAFC;
    --foreground: #080808;
  }
}

body {
  color: var(--foreground);
  background: #ECEBDE;
  font-family: var(--font-geist-sans), Arial, sans-serif;
  padding:0px 20px;;
}
h1{
  font-size: 25px;
}
@media only screen and (max-width: 600px) {
  h1{
    font-size: 20px;
  }
  .bodyH1
{
    font-family: "Sour Gummy", serif;
    font-size:30px;
    padding:0px 25px;
}
.pSmall{
  font-size:20px;
}
.navSize{
  font-size:15px;
}
  }