@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Bungee+Tint&family=New+Amsterdam&family=Rubik:ital,wght@0,300..900;1,300..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

@import './components/navbar.css';
@import './components/body.css';
@import './components/about.css';
:root {
  --background: #ffffff;
  --foreground: #171717;
}
.custom{
  background-color:#ECEBDE;

  font-family: "Sour Gummy", serif;
  font-weight: 400; /* Normal weight, or adjust between 100 and 900 */
 font-size: 20px; /* This sets the font size */
  font-style: normal;
}

.color
 {
    padding:20px;
    margin-bottom: 5px;
    border-radius: 2%;
    background-color: #D7D3BF;
 }
@media (prefers-color-scheme: dark) {
  :root {
    --background: #F8FAFC;
    --foreground: #080808;
  }
}

body {
  color: var(--foreground);
  background: #ECEBDE;
  font-family: var(--font-geist-sans), Arial, sans-serif;
  padding:0px 30px;
  --black: #111111;
  --white: #fdfdfd;
  --green: #22cc88;
  --blue: #0055ff;
  --purple: #8855ff;
  --red: #ff0055;
  --orange: #ee4444;
  --yellow: #ffcc00;
  --mustard: #ffaa00;
}
h1{
  font-size: 25px;
}
@media only screen and (max-width: 600px) {
  h1{
    font-size: 20px;
  }
  .bodyH1
{
    font-family: "Sour Gummy", serif;
    font-size:30px;
    padding:0px 25px;
}
.pSmall{
  font-size:20px;
  padding:0px 10px;
}
.navSize{
  font-size:15px;
}


.mainBody {
  height: 450px;
  width: 100%; /* Ensures it spans the full width of its container */
  background-color: #D7D3BF; /* Optional: Adds a background color for visibility */
 
  padding: 60px 0px 0px 0px;
   
}
.designSkill{
  margin-top:20px;
  margin-left:0px;
  margin-bottom:0px;
}
  }

 
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--green);
  transform-origin: 0%;
}

.logoImg
{
  height:30px;
  width:auto
}
